.post {
  max-width: 500px;
  margin: 27px 0;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  color: #262626;
  margin-left: auto;
  font-size: 14px;
  margin-right: auto;
}
.post__header {
  display: flex;
  align-items: center;
  padding: 20px;
}
.post__avatar {
  margin-right: 10px;
  z-index: 1;
}
.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.post__text {
  font-weight: normal;
  padding: 20px;
  word-wrap: break-word;
}
.post__commentBox {
  display: flex;
  margin-top: 10px;
}
.post__comments {
  padding: 20px;
}
.post__input {
  flex: 1;
  border: none;
  padding: 16px;
  border-top: 1px solid #dbdbdb;
  outline: none;
}
.post__btn {
  flex: 0;
  border: none;
  border-top: 1px solid #dbdbdb;
  background-color: transparent;
  color: #0095f6;
  padding-right: 10px;
  cursor: pointer;
}
