@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: San Francisco;
  list-style: none;
}
body {
  background-color: #fafafa;
}
a {
  text-decoration: none;
}
